@use "sass:math";
@import 'variables';

@function pxToRem($px, $remInPx: 16px) {
    @return #{($px / $remInPx)}rem;
}

@mixin flex-row($reverse: false) {
    display: flex;

    @if ($reverse) {
        flex-direction: row-reverse;
    }
}

@mixin flex-center() {
    align-items: center;
    justify-content: center;
}

@mixin flex-column($reverse: false) {
    display: flex;
    flex-direction: column;

    @if ($reverse) {
        flex-direction: column-reverse;
    }
}

@mixin inset-position($pos: 0) {
    top: $pos;
    bottom: $pos;
    left: $pos;
    right: $pos;
}

@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: pxToRem(8px);
        height: pxToRem(8px);
    }

    &::-webkit-scrollbar-thumb {
        background: $silver700;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $silver800;
        border-radius: 1rem;
    }
}