@import "./src/presentation/styles/index.module";

.heroSlider {
    .sliderWrapper {
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
        border-radius: map-get($radii, 'md');

        .controls {
            position: absolute;
            @include inset-position();
            @include flex-row();
            justify-content: space-between;
            z-index: 1;
            pointer-events: none;
            $backGradient: #{$silver900}BF;
            background-image: linear-gradient(to right, $backGradient 0, #0000 15%, #0000 85%, $backGradient 100%);
            border-radius: map-get($radii, 'md');

            > button {
                pointer-events: initial;
                min-width: pxToRem(100px);
                border-radius: 0;
            }
        }
    }

    .slider {
        @include flex-row();
        transition: all 200ms ease-in-out;

        @for $i from 0 through 3 {
            &[class*="slide-#{$i}"] {
                $translate: 100 * $i * -1;
                transform: translateX(#{ $translate + 0%});
            }
        }
    }

    .heroImage {
        flex-shrink: 0;
        flex-basis: 100%;

        max-width: 100%;
        height: 400px;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: map-get($radii, 'md');
        }
    }
}

.continueSliderWrapper {
    margin: map-get($gutters, 'md') 0;
    padding: map-get($gutters, 'md');
    background: $silver800;
    border-radius: map-get($radii, 'md');
}

.continueSlider {
    @include flex-row();
    gap: map-get($gutters, 'md');
    margin: map-get($gutters, 'md') 0;
    flex-wrap: nowrap;

    .module {
        @include flex-column();
        width: pxToRem(240px);
        flex-shrink: 0;

        .info {
            display: block;
            position: relative;
            overflow: hidden;
            transition: all 300ms ease-in-out;

            > span {
                @include inset-position();
                position: absolute;
                transition: all 200ms ease-in-out;
                @include flex-column();
                @include flex-center;
                text-align: center;
                font-size: 1.5rem;
                background: #{$silver900}AB;
                font-weight: 600;
                border-radius: map-get($radii, 'md');

                &:before {
                    content: '\25BA';
                    @include inset-position();
                    position: absolute;
                    background: #000A;
                    border-radius: map-get($radii, 'md');
                    @include flex-column();
                    @include flex-center;
                    font-size: 2rem;
                    opacity: 0;
                    transition: all 200ms ease-in-out;
                }

                &:hover:before {
                    opacity: 1;
                }
            }

            > img {
                object-fit: cover;
                border-radius: map-get($radii, 'md');
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .progress {
            display: inline-flex;
            align-items: center;
            gap: map-get($gutters, 'sm');

            > span[class^="MuiLinearProgress-root"] {
                flex: 1;
                height: 10px;
                border-radius: map-get($radii, 'md');
                box-shadow: 0 4px 6px $silver900;

                > span[class^="MuiLinearProgress-bar"] {
                    border-radius: map-get($radii, 'md');
                }
            }
        }
    }
}

.myCourses {
    padding: map-get($gutters, 'md') 0;
    margin: map-get($gutters, 'md') 0;
    border-top: 1px solid $silver800;
    border-bottom: 1px solid $silver800;

    $controlsHeight: 40px;

    .controls {
        @include flex-row();
        justify-content: flex-end;
        flex: 1;
        margin-bottom: map-get($gutters, 'md');
        height: pxToRem($controlsHeight);
    }

    position: relative;

    &:after {
        content: '';
        position: absolute;
        @include inset-position();
        top: pxToRem($controlsHeight + 16px);
        background-image: linear-gradient(to right, #0000 0, #0000 85%, $silver900 100%);
        width: 100%;
        pointer-events: none;
    }

    .coursesWrapper {
        overflow-x: scroll;
        @include scrollbar;
        scroll-snap-type: x mandatory;

        .coursesScroller {
            display: inline-flex;
            gap: map-get($gutters, 'md');
            flex-shrink: 0;
            flex-wrap: nowrap;
        }

        .singleCourse {
            scroll-snap-align: start;
            overflow: hidden;
            border-radius: map-get($radii, 'md');

            > img {
                object-fit: cover;
                width: pxToRem(280px);
            }
        }
    }
}