@import "./src/presentation/styles/index.module";

.heroSlider {

    .sliderWrapper {
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
        border-radius: map-get($radii, 'md');
        
        .controls {
            position: absolute;
            @include inset-position();
            @include flex-row();
            justify-content: space-between;
            z-index: 1;
            pointer-events: none;
            $backGradient: #{$silver900}BF;
            background-image: linear-gradient(to right, $backGradient 0, #0000 15%, #0000 85%, $backGradient 100%);
            border-radius: map-get($radii, 'md');

            > button {
                pointer-events: initial;
                min-width: pxToRem(100px);
                border-radius: 0;
            }
        }
    }

    .slider {
        @include flex-row();
        transition: all 200ms ease-in-out;

        @for $i from 0 through 3 {
            &[class*="slide-#{$i}"] {
                $translate: 100 * $i * -1;
                transform: translateX(#{ $translate + 0%});
            }
        }
    }

    .heroImage {
        flex-shrink: 0;
        flex-basis: 100%;

        max-width: 100%;
        height: 400px;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: map-get($radii, 'md');
        }
    }
}

